<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  {% set useBrandIconFont = true %}
  {% set isToolPage = true %}
  {% include "head.njk" %}
  <body class="overflow-x-hidden bg-slate-50 dark:bg-slate-900">
    {% include "navbar.njk" %}
    <div class="max-w-5xl mx-auto py-10 px-4">
        <main class="w-full">
             {{ content | safe }}
        </main>
    </div>
    {% set footerVariant = 'compact' %}
    {% include "footer.njk" %}
    {% include "analytics.njk" %}
  </body>
</html>
